.photoPageMain {
    .photos {
        text-align: center;
        h2 {
            display: inline-block;
            font-size: 46px;
            border-bottom: 4px solid black;
            padding-bottom: 2px;
            padding-left: 30%; 
            padding-right: 30%;
        }

        .teacherBlock {
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 80px;
        }

        .studentBlock {
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}